.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(174.2deg, rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4%);
}

.emoji-bouncer span {
  font-size: 3rem;
  display: inline-block;
  margin: 0 5px;
  animation: bounce 0.6s infinite alternate;
}

.emoji-bouncer span:nth-child(2) { animation-delay: 0.1s; }
.emoji-bouncer span:nth-child(3) { animation-delay: 0.2s; }

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(-20px); }
}