.payment-methods {
  margin-top: 1rem;
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 12px;
}

.payment-methods p {
  font-weight: 700;
  color: #4c4b4b;
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
}

.payment-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.payment-logo {
  padding: 0.25rem 1rem;
  background: white;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #007A70;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
}

.others-payment {
  padding: 0.25rem 0.5rem;
  background: none;
  box-shadow: none;
  transition: all 0.2s ease;
}

.others-payment img {
  filter: brightness(0);
  width: 2rem;
}

.others-payment:hover {
  transform: scale(1.3);
  border-radius: 8px;
}

.payment-logo:hover {
  transform: translateY(-0.125rem);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 191, 165, 0.2);
  cursor: pointer;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  color: white;
  box-shadow: 0 0.5rem 0.5rem lightgray;
}

.payment-logo img {
  width: 2rem;
}