.page-wrapper {
    background-image: linear-gradient(174.2deg, rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4%);
    background-attachment: fixed;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

.recipe-page-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
}

.recipe-page-wrapper main {
    background-image: linear-gradient(174.2deg, rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4%);
    background-attachment: fixed;
    background-size: 100% 100%;  
    background-repeat: no-repeat;
    padding-bottom: 2.5rem;
    max-width: 87.5rem;
    margin: 0 auto;
    min-height: 100vh;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.main-title {
    padding-top: 3rem;
    text-align: center;
    font-size: 3.5rem;
    font-family: "Playwrite", sans-serif;
    margin-bottom: 3.5rem;
    color: #007A70;
    position: relative;
}

.main-title::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='20' viewBox='0 0 200 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15 Q 50 5, 90 15 Q 130 25, 170 15 Q 190 10, 190 15' stroke='%23007A70' stroke-width='3' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main-title::before { left: 20%; }
.main-title::after { right: 20%; }

.recipe-page .section-title {
    padding-top: 1rem;
    text-align: center;
    font-size: 3.5rem;
    font-family: "Playwrite", sans-serif;
    padding-bottom: 1.5rem;
    color: #fff;
    animation: neonPulse 2s ease-in-out infinite;
    text-shadow: 
        0 0 5px #007A70,
        0 0 10px #007A70,
        0 0 15px #00B4A0,
        0 0 20px #00B4A0,
        0 0 25px #00D4B4;
}

@keyframes neonPulse {
    0%, 100% {
        text-shadow: 
            0 0 5px #007A70,
            0 0 10px #007A70,
            0 0 15px #00B4A0,
            0 0 20px #00B4A0,
            0 0 25px #00D4B4;
        transform: scale(1);
    }
    50% {
        text-shadow: 
            0 0 10px #007A70,
            0 0 20px #00B4A0,
            0 0 30px #00D4B4,
            0 0 40px #00F0C8,
            0 0 50px #00F0C8;
        transform: scale(1.02);
    }
}

.tiramisu-section, .others-section {
    padding: 3rem 0;
}

.others-section .d-flex {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.others-section .flex-grow-1 {
    flex: 0 1 auto; 
    max-width: 20rem; 
}

.head-title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Playwrite', sans-serif;
    color: #007A70;
    padding-top: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.text-container {
    max-width: 60rem;
    margin: 2.5rem auto;
    padding: 0 2rem;
}

.dessert-description {
    padding: 3rem 1rem;
    position: relative;
    border-radius: 1rem;
    margin: 2rem auto;
    width: 50%;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 0.5rem 2rem #0000001a;
}

.dessert-description::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(#00000033),
        url('/public/assets/bg-image/dessert-gif.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.dessert-summary-content {
    text-align: center;
    margin-bottom: 2.5rem;
    margin-inline: auto;
    padding: 2rem;
    background: #ffffffb3;
    border-radius: 0.75rem;
    border: 1px solid #ffffff33;
    box-shadow: 0 0.5rem 2rem #0000001a;
    position: relative;
    overflow: hidden;
    width: 80%;
}

.text-container .content {
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main {
    background-image: url("/public/assets/bg-image/cooking-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
}

.appetizer {
  background-image: url("/public/assets/bg-image/appetizer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10%;
}

.salad {
  background-image: url("/public/assets/bg-image/salad-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10%;
}

.specialdiets {
  background-image: url("/public/assets/special_diets/vegan/Vegan BG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10%;
}

.text-container .content > * {
    position: relative;
    z-index: 2;
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.3rem #313a03;
    font-family: 'Montserrat', sans-serif;
}

.food-definition {
    font-size: 1.5rem;
    font-weight: 300;
    color: #05353d;
    line-height: 1.6;
    margin: 0;
    font-style: italic;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.food-definition::before,
.food-definition::after {
    content: '"';
    font-size: 2rem;
    color: #000000;
    font-style: normal;
}

.check-out {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    font-weight: 400;
    max-width: 32rem;
    margin-inline: auto;
}

.cta-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #04313033;
    color: #fff;
    padding: 1.2rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 1.5rem;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff4d;
    transition: all 0.3s ease;
    width: auto;
}

.cta-button:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
    box-shadow: 0 0.1rem 0.2rem #00000033;
}

.text-container .content p:last-of-type {
    font-weight: 500;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border-left: 0.3rem solid #b7e19d;
}

.heading-container {
    display: flex;
    margin-top: 1.2rem;
    gap: 0.2rem;
    justify-content: center;
    margin-inline: 3.5rem;
}

.main-course-definition {
    color: #8a8989;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    text-align: center;
    text-wrap: wrap;
}

.top-pick-heading {
  text-align: center;
  font-family: "Montserrat", serif;
}

.top-line {
    display: block;
    font-size: 3.5rem;
    font-weight: bold;
    color: #007A70;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    position: relative;
    margin-bottom: 0.5rem;
}

.top-line::after {
    content: "";
    position: absolute;
    bottom: -0.1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #007A70, #bffbf6);
}

.bottom-line {
    display: block;
    font-size: 2.5rem;
    color: #7f8c8d;
    font-style: italic;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
}

.category-recipes h3 {
    text-align: center;
    font-size: 2.3rem;
    font-family: "Playwrite";
    color: #e1fdfc;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    position: relative;
    text-shadow: 
        0 0 5px #41f5d7,
        0 0 10px #41f5d7,
        0 0 15px #41f5d7,
        0 0 20px #099e88,
        0 0 35px #3ef2e6,
        0 0 40px #099e88,
        0 0 50px #029db5;
    animation: realisticFlicker 4s infinite;
}

@keyframes realisticFlicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% { opacity: 1; }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% { opacity: 0.4; }
}

.all-recipes h3 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Georgia', serif;
    color: #fff;
    text-shadow: 0 -1.25rem 5rem, 0 0 0.125rem, 0 0 1em #1f9188, 
    0 0 0.3em #1f9188, 0 0 0.1em #1f9188, 0 0.625rem 0.2rem #1f9188;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    animation: flicker 1.5s infinite alternate;
}

.blink { animation: blink linear infinite 2s; }
.long-blink { animation: blink linear infinite 3s; }

@keyframes blink {
  78% { color: inherit; text-shadow: inherit; }
  79% { color: #1e8a7a; }
  80% { text-shadow: none; }
  81% { color: inherit; text-shadow: inherit; }
  82% { color: #1e8a7a; text-shadow: none; }
  83% { color: inherit; text-shadow: inherit; }
  92% { color: #1e8a7a; text-shadow: none; }
  92.5% { color: inherit; text-shadow: inherit; }
}

.no-recipes-header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #007A70;
    margin: 1.5rem auto 2rem;
}

.more-recipes-section {
    background: 
        linear-gradient(#1e1e1e99, #1e1e1e99),
        url("/public/assets/bg-image/baking-bg.jpg") center/cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 5rem 2rem;
    min-height: 2.5rem;
    width: 80%;
    border-radius: 1.6rem;
}

.more-recipes-section .container {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.more-recipes-section .col-lg-8 {
    padding: 3rem 4rem;
    border-radius: 0.94rem;
    box-shadow: 0 0.95rem 2.5rem #00000026;
}

.cooking-badge {
    background: linear-gradient(45deg, #007A70, #52aea7);
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 1.6rem;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 1px;
    display: inline-block;
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
    max-width: 100%;
    box-shadow: 0 0.6rem 1.6rem #007a7066;
}

.more-section-title {
    font-size: 3.5rem;
    font-weight: 800;
    color: #d5fff8;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    max-width: 100%;
}

.description-text {
    margin-inline-start: 0.5rem;
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    max-width: 100%;
}

.cta-button {
    background: linear-gradient(45deg, #007A70, #00B4A0);
    color: #fff;
    padding: 0.4rem 1.8rem;
    border: none;
    border-radius: 1.6rem;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    box-shadow: 0 0.4rem 1.5rem #007a704d;
    max-width: 100%;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.6rem 1.6rem #007a7066;
    color: white;
}

/* Layout Media Queries */

@media screen and (max-width: 1300px) {
   .main-title {
        padding-top: 4rem;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .main { width: 80%; }
    .appetizer { width: 80%; }
    .salad { width: 80%; }

    .summary-content {
        max-width: 80%;
        margin: 0 auto;
    }

    .dessert-description {
        padding: 4rem 2rem;
        margin: 3rem auto;
        border-radius: 1.5rem;
        width: 90%;
        max-width: 90%;
    }
    
    .dessert-description::before {
        border-radius: 1.5rem;
        background-position: center 30%;
    }
    
    .dessert-summary-content {
        padding: 2.5rem 3rem;
        margin-bottom: 3rem;
        border-radius: 1rem;
        background: rgba(255, 255, 255, 0.7);
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .food-definition {
        font-size: 1.8rem;
        line-height: 1.7;
        max-width: 80%;
    }
    
    .food-definition::before,
    .food-definition::after {
        font-size: 2.5rem;
    }

    .section-title {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    .more-recipes-section {
        padding: 3.5rem 1.5rem;
    }
        
    .container {
        padding: 2rem;
    }

    .more-recipes-section .container {
        max-width: 100%;
    }

    .more-section-title {
        font-size: 2.8rem;
    }
        
    .description-text {
        font-size: 1.2rem;
        max-width: 28rem;
        width: auto;
    }

    .top-line {
        font-size: 3.5rem;
    }

    .bottom-line {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .category-recipes h3 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1300px) {
    .main-title {
        padding-top: 7.5rem;
    }
    .category-recipes h3 {
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width: 960px) {
    .main-title {
        padding-top: 4rem;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .main { width: 80%; }
    .appetizer { width: 80%; }
    .salad { width: 80%; }

    .dessert-description {
        padding: 4rem 2rem;
        margin: 3rem auto;
        border-radius: 1.5rem;
        width: 90%;
        max-width: 90%;
    }
    
    .dessert-description::before {
        border-radius: 1.5rem;
        background-position: center 30%;
    }
    
    .dessert-summary-content {
        padding: 2.5rem 3rem;
        margin-bottom: 3rem;
        border-radius: 1rem;
        background: rgba(255, 255, 255, 0.7);
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .summary-content {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .food-definition {
        font-size: 1.8rem;
        line-height: 1.7;
        max-width: 80%;
    }
    
    .food-definition::before,
    .food-definition::after {
        font-size: 2.5rem;
    }

    .section-title {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    .more-recipes-section {
        padding: 3.5rem 1.5rem;
    }
        
    .container {
        padding: 2rem;
    }

    .more-recipes-section .container {
        max-width: 100%;
    }

    .more-section-title {
        font-size: 2.8rem;
    }

    .dessert-description {
        padding: 4rem 2rem;
        margin: 3rem auto;
        border-radius: 1.25rem;
        width: 80%;
        max-width: 80%;
    }
    
    .dessert-description::before {
        border-radius: 1.25rem;
        background-position: center 30%;
    }
    
    .dessert-summary-content {
        padding: 2.5rem 3rem;
        margin-bottom: 3rem;
        border-radius: 1rem;
        background: rgba(255, 255, 255, 0.7);
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .food-definition {
        font-size: 1.8rem;
        line-height: 1.7;
        max-width: 80%;
    }
    
    .food-definition::before,
    .food-definition::after {
        font-size: 2.5rem;
    }

    .top-line {
        font-size: 3.5rem;
    }

    .bottom-line {
        font-size: 2.5rem;
    }

    .heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 912px) {
    .main-title {
        padding-top: 8.5rem;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width: 820px) {
    .main-title {
        padding-top: 8rem;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .category-recipes h3 {
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .recipe-page-wrapper {
        overflow-x: hidden;
    }

    .main-title {
        padding-top: 6.5rem;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .summary-content {
        max-width: 80%;
        margin: 0 auto;
    }

    .main { width: 80%; }
    .appetizer { width: 80%; }
    .salad { width: 80%; }
    
    .dessert-description {
        max-height: 25rem;
        max-width: 90%;
        width: 90%;
        margin: 1rem auto;
        padding: 2rem 1.5rem;
    }

    .dessert-summary-content {
        margin-bottom: 2rem;
        padding: 1.5rem 1rem;
    }

    .food-definition {
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .food-definition::before,
    .food-definition::after {
        font-size: 1.5rem;
    }

    .cta-button {
        width: 100%;
        justify-content: center;
        padding: 0.9rem 1.5rem;
        font-size: 1rem;
    }

    .head-title {
        font-size: 2.5rem;
    }

    .main-course-definition {
        font-size: 0.8rem;
        margin: 0 1.5rem;
    }

    .check-out {
        font-size: 1.1rem;
        max-width: 28rem;
        margin-bottom: 0.8rem;
    }

    .text-container .content {
        height: 25rem;
        border-radius: 6%;
        padding: 1.5rem;
    }

    .text-container .content p:last-of-type {
        font-size: 1.1rem;
        padding: 0.8rem 1.2rem;
        border-left: 0.25rem solid #b7e19d;
        margin: 0 1rem;
        max-width: 95%;
    }

    .heading-container {
        margin-inline: 1rem;
        margin-top: 1rem;
        flex-direction: column;
        gap: 0.5rem;
    }

    .top-line {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        margin-bottom: 0.3rem;
    }

    .top-line::after {
        width: 5.5rem;
        height: 0.15rem;
    }

    .category-recipes h3 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .main-title {
      padding-top: 6.5rem;
    }

    .summary-content {
        max-width: 80%;
        margin: 0 auto;
    }

    .main { width: 80%; }
    .appetizer { width: 80%; }
    .salad { width: 80%; }

    .section-title {
      font-size: 3rem;
    }
    
    .dessert-description {
        padding: 1rem 0.8rem;
        margin: 1rem auto;
        border-radius: 10px;
        max-height: 20rem;
    }

    .dessert-summary-content {
        padding: 1.2rem 0.8rem;
        margin-bottom: 1.5rem;
        max-width: 100%;
        max-height: 20rem;
    }

    .food-definition {
        font-size: 1.1rem;
    }

    .cta-button {
        padding: 0.8rem 1.2rem;
        font-size: 0.9rem;
        width: 80%;
    }

    .text-container .content {
        height: 20rem;
        border-radius: 5%;
        padding-top: 1.5rem;
    }

    .text-container .content p:last-of-type {
        margin: 6.5rem 0 1rem 0;
        font-size: 0.7rem;
        padding: 0.7rem 1rem;
        border-left: 0.2rem solid #b7e19d;
        border-radius: 5%;
    }

    .check-out {
        font-size: 1rem;
        line-height: 1.6;
        max-width: 90%;
        margin-bottom: 0.5rem;
        padding: 0 1rem;
    }

    .more-recipes-section {
        padding: 1.5rem 0.8rem;
        max-height: 25rem;
        margin: 0 auto;
        margin-top: 3.5rem;
    }
    
    .more-recipes-section::before {
        background-size: 9.5rem;
    }
    
    .cooking-badge {
        padding: 0.4rem 0.8rem;
        font-size: 0.7rem;
        margin-bottom: 0.8rem;
        max-width: 95%;
    }
    
    .more-section-title {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
        max-width: 95%;
    }
    
    .description-text {
        font-size: 0.9rem;
        line-height: 1.4;
        margin-bottom: 1.2rem;
        max-width: 95%;
    }
    
    .row.align-items-center {
        text-align: center;
    }
    
    .col-lg-6 {
        padding: 0 0.5rem;
    }

    .cta-button {
        font-size: 0.65rem;
    }
}