.header-navigation {
    background-image: linear-gradient(#f5f5f5, #faf0e6);
    padding-block: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-navigation ul {
    position: relative;
    display: flex;
    gap: 2.5rem;
    margin: 0 2rem 0 2rem;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.other-logo {
    display: flex;
    gap: 0.5rem;
}

.other {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 30%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

:is(#home, #home:visited) {
    font-size: 1.8rem;
    color: #20402d;
}

#home img {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.1rem;
    margin-right: 0.1rem;
}

:is(.other img, .other img:visited) {
    width: 2rem;
    height: 2rem;
    filter: invert(15%) sepia(90%) saturate(7000%) hue-rotate(135deg) brightness(20%) contrast(60%);
}

.other:hover {
    background-color: #e9e8e8;
}

.other img:hover {
  filter: brightness(0) saturate(200%) invert(48%) sepia(94%) hue-rotate(120deg);
}

.other #home img:hover {
  filter: brightness(0) saturate(200%) invert(48%) sepia(94%) hue-rotate(120deg);
}

.celestial-logo {
  flex-shrink: 0;
  min-width: 0;
  margin-left: 2.5rem;
}

:is(.celestial-logo a, .celestial-logo a:visited) {
    position: relative;
    text-decoration: none;
    color: #007A70;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
    font-family: 'Playwrite', sans-serif;
}

.hamburger-menu, .menu {
    position: relative;
}

#check {
    display: none;
}

.checkbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.bars {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.2rem 0;
    transition: all 0.3s ease;
    position: relative;
}

.bars, .bars::after {
    background-color: #0e635c;
}

.bars::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    transition: all 0.3s ease;
}

.bars::after {
    top: 0.8rem;
}

#check:checked + .checkbtn .bars {
    transform: rotate(45deg);
    top: 0;
}

#check:checked + .checkbtn .bars::after {
    transform: rotate(-90deg);
    top: 0;
}

.recipe-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 30%;
    height: 100vh;
    background-color: #fff;
    box-shadow: -0.2rem 0 0.9rem #0b59191a;
    padding: 5rem 2rem 2.5rem;
    transition: left 0.3s ease;
    z-index: 10;
    overflow-y: auto;
}

.special-diets {
    width: 25%;
}

.special-diets img {
    width: 4rem;
}

#check:checked ~ .recipe-menu {
    left: 0;
}

.recipe-menu > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    padding: 0.75rem;
    transition: all 0.3 ease;
    margin-bottom: 0.5rem;
}

.recipe-menu h3 {
  margin-block: 1.5rem;
  font-family: serif;
  color: #0e635c;
  font-size: 2.5rem;
}

.recipe-menu a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #0e635c;
  font-weight: 700;
  font-size: 1.2rem;
}

.border-bottom {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 0;
    transition: all 0.3s ease;
}

.border-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.18rem;
    background: linear-gradient(90deg, #007A70, #00b3a1, #007A70);
    transition: width 0.4s ease;
    border-radius: 10%;
}

.border-bottom:hover:after {
    width: 100%;
}

.recipe-menu > div:hover {
    background: #f4fdff;
}

.recipe-menu > div:active {
    color: #41d8d8;
}

.recipe-menu img {
  width: 8rem;
  height: 5rem;
  border-radius: 10%;
}

@media screen and (max-width: 1300px) {

    .recipe-menu {
            width: 40%;
    }

    .bars, .bars::after {
        margin-bottom: 0.8rem;
    }

}

@media screen and (max-width: 1300px) {
    .header-navigation {
        padding-right: 0;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 960px) {

    .header-navigation {
        padding-right: 1rem;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 768px) {

    .celestial-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-85%);
    }

    .header-navigation {
        padding-block: 1rem;
        box-sizing: border-box;
    }

    .header-navigation ul {
        margin: 0 1rem;
        gap: 1rem;
    }

    .celestial-logo {
        margin-left: 2rem;
        flex: 1;
        align-items: center;
    }

    :is(.celestial-logo a, .celestial-logo a:visited) {
        font-size: 1.5rem;
        max-width: 150px;
        display: block;
        margin: 0 auto;
    }

    .other-logo {
        gap: 0.25rem;
    }

    .other {
        width: 2rem;
        height: 2rem;
    }

    #home img {
        width: 1.5rem;
        height: 1.5rem;
    }

    :is(#home, #home:visited) {
        font-size: 1.3rem;
    }

    :is(.other img, .other img:visited) {
        width: 1.6rem;
        height: 1.6rem;
    }

    .checkbtn {
        width: 2rem;
        height: 2rem;
    }

    .bars {
        width: 2rem;
    }

    .bars::after {
        width: 2rem;
    }

    .recipe-menu {
        width: 200px;
        padding: 3rem 1rem 1.5rem;
    }

    .recipe-menu a {
      font-size: 0.7rem;
    }

    .recipe-menu h3 {
        font-size: 1.2rem;
        margin-top: 2.5rem;
        margin-bottom: 0.2rem;
    }

    .recipe-menu img {
        width: 5rem;
        height: 3rem;
    }

    .pagination-btn.pagination-prev svg,
    .pagination-btn.pagination-next svg {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 480px) {

    .header-navigation ul {
        margin: 0 0.1rem;
        gap: 0.5rem;
    }

    :is(.celestial-logo a, .celestial-logo a:visited) {
        font-size: 1.2rem;
        display: block;
        margin-right: 2rem;
        max-width: 7.5rem;
    }

    .other-logo {
        gap: 0.15rem;
    }

    .other {
        width: 1.8rem;
        height: 1.8rem;
    }

    #home {
        font-size: 1.2rem;
    }

    :is(.other img, .other img:visited) {
        width: 1.4rem;
        height: 1.4rem;
    }

    .bars, .bars::after {
        width: 1.5rem;
        height: 0.2rem;
        margin-bottom: 1rem;
    }

    .header-navigation ul {
      padding: 0.75rem;
    }

    .celestial-logo {
        display: block;
        margin: 0 1.2rem;
    }

    .recipe-menu {
        width: 12.5rem;
        padding: 3rem 1rem 1.5rem;
    }

    .recipe-menu a {
      font-size: 0.7rem;
    }

    .recipe-menu h3 {
        font-size: 1.2rem;
        margin-top: 2.5rem;
        margin-bottom: 0.2rem;
    }

    .recipe-menu img {
        width: 5rem;
        height: 3rem;
    }

    .recommended-card {
        height: 7rem;
    }
            
    .other {
        width: 2rem;
        height: 2rem;
    }
            
    .other img {
        width: 1.125rem;
        height: 1.125rem;
    }

    .btn-secondary {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

}